<ion-header>
    <ion-toolbar class="dark-green">
      <ion-title style="color: white;">Survey Form</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;" autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!--start-survey-form-->
    <div class="main">
      <div class="wrap">
        <div class="Regisration">
          <div class="Regisration-head">
            <h2><span></span>Survey</h2>
          </div>
          <div class="error-container" *ngIf="errors.length">
            <div *ngFor="let error of errors">{{error}}</div>
          </div>
          <form *ngFor="let member of membersArray; index as i;" style="border-bottom: 2px solid white;">
            
            <h4 class="field-heading">Member {{i + 1}}</h4>
            <ion-item>
              <ion-select placeholder="Member {{i + 1}}" name="type" [(ngModel)]="member.type">
                <ion-select-option value="Son">Son</ion-select-option>
                <ion-select-option value="Daughter">Daughter</ion-select-option>
              </ion-select>
            </ion-item>

            <h4 class="field-heading">Full Name</h4>
            <input type="text" placeholder="Full Name" name="fullName" [(ngModel)]="member.fullName">
  
            <h4 class="field-heading">Marital Status</h4>
            <ion-item>
              <ion-select placeholder="Marital Status" name="maritalStatus" [(ngModel)]="member.maritalStatus">
                <ion-select-option value="Married">Married</ion-select-option>
                <ion-select-option value="Widow">Widow</ion-select-option>
                <ion-select-option value="Divorce">Divorce</ion-select-option>
                <ion-select-option value="Other">None of the Above</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Current Address</h4>
            <ion-item>
              <ion-textarea placeholder="Current Address"  name="address" [(ngModel)]="member.address"></ion-textarea>
            </ion-item>

            <h4 class="field-heading">Qualification Religious</h4>
            <ion-item>
              <ion-select placeholder="Qualification Religious"  name="qualificationReg" [(ngModel)]="member.qualificationReg">
                <ion-select-option value="Nazra">Nazra</ion-select-option>
                <ion-select-option value="Hafza">Hafza</ion-select-option>
                <ion-select-option value="Alim">Alim</ion-select-option>
                <ion-select-option value="Qari">Qari</ion-select-option>
                <ion-select-option value="Mufti">Mufti</ion-select-option>
                <ion-select-option value="Other">None of the Above</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Qualification Academic</h4>
            <ion-item>
              <ion-select placeholder="Qualification Academic" name="qualificationAcd" [(ngModel)]="member.qualificationAcd">
                <ion-select-option value="Undergraduate">Undergraduate</ion-select-option>
                <ion-select-option value="Graduate">Graduate</ion-select-option>
                <ion-select-option value="PostGraduate">Post Graduate</ion-select-option>
                <ion-select-option value="Other">None of the Above</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Occupation</h4>
            <ion-item>
              <ion-select placeholder="Occupation" name="occupation" [(ngModel)]="member.occupation">
                <ion-select-option value="business">Business</ion-select-option>
                <ion-select-option value="job">Job</ion-select-option>
                <ion-select-option value="student">Student</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Office Occupation Address</h4>
            <ion-item>
                <ion-textarea placeholder="Office Occupation Address" name="officeAddress" [(ngModel)]="member.officeAddress"></ion-textarea>
            </ion-item>

            <h4 class="field-heading">Designation</h4>
            <input type="text" placeholder="Designation" name="designation" [(ngModel)]="member.designation">

            <h4 class="field-heading">Salary</h4>
            <input type="text" placeholder="Salary" name="salary" [(ngModel)]="member.salary">
          </form>

          <div class="Remember-me">
            <div class="submit">
              <input type="submit" (click)="postData()" value="Done">
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>
    <!--//End-register-form-->
  
  </ion-content>