<ion-header>
  <ion-toolbar class="dark-green">
    <ion-title style="color: white;">Signin Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--start-login-form-->
  <div class="main">
    <div class="wrap">
      <div class="Login">
        <div class="Login-head">
          <h3>LOGIN</h3>
        </div>

        <div class="error-container" *ngIf="errors.length">
          <span *ngFor="let error of errors">{{error}}</span>
        </div>
        <form name="signinForm">
          <div class="ticker">
            <h4>Email</h4>
            <input name="email" type="email" [(ngModel)]="email" placeholder="john@gmail.com">
            <div class="clear"> </div>
          </div>
          <div>
            <h4>Password</h4>
            <input name="password" type="password" [(ngModel)]="password" placeholder="password">
            <div class="clear"> </div>
          </div>
          <div class="submit-button">
            <input type="submit" (click)="login()" value="LOGIN">
          </div>
          <div class="clear"> </div>

          <div text-center>
            <button margin-top type="button" ion-button clear routerLink="../register" routerDirection="forward">
              <div style="color: #488aff; font-weight: bold;">
                New User? Sign Up!
            </div>
            </button>
  
            <button margin-top type="button" ion-button clear (click)="resetpassword()">
              <div style="color: #ff7348; font-weight: bold; padding-bottom: 24px;">
                Forgot Password?
              </div>
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <!--//End-login-form-->

</ion-content>