<ion-header>
    <ion-toolbar class="dark-green">
      <ion-title style="color: white;">Survey Form</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;" autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!--start-survey-form-->
    <div class="main">
      <div class="wrap">
        <div class="Regisration">
          <div class="Regisration-head">
            <h2>Spouse Info</h2>
          </div>
          <form>

            <h4 class="field-heading">Full Name</h4>
            <input type="text" placeholder="Full Name" name="fullName" [(ngModel)]="spouse.fullName">

            <h4 class="field-heading">Date of Birth</h4>
            <input type="date" placeholder="Date of Birth" name="dob" [(ngModel)]="spouse.dob">

            <h4 class="field-heading">Qualification Religious</h4>
            <ion-item>
              <ion-select placeholder="Qualification Religious"  name="qualificationReg" [(ngModel)]="spouse.qualificationReg">
                <ion-select-option value="Nazra">Nazra</ion-select-option>
                <ion-select-option value="Hafza">Hafza</ion-select-option>
                <ion-select-option value="Alim">Alim</ion-select-option>
                <ion-select-option value="Qari">Qari</ion-select-option>
                <ion-select-option value="Mufti">Mufti</ion-select-option>
                <ion-select-option value="Other">None of the Above</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Qualification Academic</h4>
            <ion-item>
              <ion-select placeholder="Qualification Academic" name="qualificationAcd" [(ngModel)]="spouse.qualificationAcd">
                <ion-select-option value="Undergraduate">Undergraduate</ion-select-option>
                <ion-select-option value="Graduate">Graduate</ion-select-option>
                <ion-select-option value="PostGraduate">Post Graduate</ion-select-option>
                <ion-select-option value="Other">None of the Above</ion-select-option>
              </ion-select>
            </ion-item>
  
            <h4 class="field-heading">Occupation</h4>
            <ion-item>
              <ion-select placeholder="Occupation" name="occupation" [(ngModel)]="spouse.occupation">
                <ion-select-option value="housewife">Housewife</ion-select-option>
                <ion-select-option value="business">Business</ion-select-option>
                <ion-select-option value="job">Job</ion-select-option>
                <ion-select-option value="student">Student</ion-select-option>
              </ion-select>
            </ion-item>
          </form>

          <div class="Remember-me">
            <div class="submit">
              <input type="submit" (click)="postData()" value="Save & Next">
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>
    <!--//End-register-form-->
  
  </ion-content>