<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar class="dark-green">
        <ion-title style="color: white;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-button expand="full" style="--background: none;color: black;" (click)="search()">
            <ion-icon slot="start" name="search"></ion-icon>
            Search
        </ion-button>

        <ion-button expand="full" style="--background: none;color: black;" (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            LogOut
        </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
