<ion-header>
  <ion-toolbar class="dark-green">
    <ion-title style="color: white;">Survey Form</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" class="edit-icon" (click)='showOverylay = !showOverylay'>
        <ion-icon name="create"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="wrap">
      <div class="Regisration">
        <div class="Regisration-head">
          <h2><span></span>Survey</h2>
        </div>
        <div class="error-container" *ngIf="errors.length">
          <div *ngFor="let error of errors">{{error}}</div>
        </div>
        <form>
          <h4 class="field-heading">First Name</h4>
          <input type="text" placeholder="First Name" name="firstName" [(ngModel)]="personalInfo.firstName">
          
          <h4 class="field-heading">Last Name</h4>
          <input type="text" placeholder="Last Name" name="lastName" [(ngModel)]="personalInfo.lastName">
          
          <h4 class="field-heading">Gender</h4>
          <ion-item>
            <ion-select placeholder="Gender" name="gender" [(ngModel)]="personalInfo.gender">
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Male">Male</ion-select-option>
            </ion-select>
          </ion-item>

          <h4 class="field-heading">Marital Status</h4>
          <ion-item>
            <ion-select placeholder="Marital Status" name="maritalStatus" [(ngModel)]="personalInfo.maritalStatus">
              <ion-select-option value="Married">Married</ion-select-option>
              <ion-select-option value="Widow">Widow</ion-select-option>
              <ion-select-option value="Divorce">Divorce</ion-select-option>
            </ion-select>
          </ion-item>

          <h4 class="field-heading">Date of Birth</h4>
          <input type="date" placeholder="Date of Birth" name="dob" [(ngModel)]="personalInfo.dob">

          <h4 class="field-heading">Birth Place</h4>
          <input type="text" placeholder="Birth Place" name="birthPlace" [(ngModel)]="personalInfo.birthPlace">
          
          <h4 class="field-heading">Mobile Number</h4>
          <input type="text" placeholder="Mobile Number" name="mobileNumber" [(ngModel)]="personalInfo.mobileNumber">
          
          <h4 class="field-heading">Email</h4>
          <input type="email" placeholder="Email" name="email" [(ngModel)]="personalInfo.email">

          <h4 class="field-heading">House</h4>
          <ion-item>
            <ion-select placeholder="House" name="house" [(ngModel)]="personalInfo.house">
              <ion-select-option value="Rental">Rental</ion-select-option>
              <ion-select-option value="Owner">Owner</ion-select-option>
            </ion-select>
          </ion-item>
          
          <h4 class="field-heading">Address</h4>
          <ion-item>
            <ion-textarea placeholder="Address"  name="address" [(ngModel)]="personalInfo.address"></ion-textarea>
          </ion-item>

          <h4 class="field-heading">Hobbies</h4>
          <ion-item>
              <ion-textarea placeholder="Hobbies"  name="hobbies" [(ngModel)]="personalInfo.hobbies"></ion-textarea>
          </ion-item>

          <h4 class="field-heading">Achievement</h4>
          <ion-item>
              <ion-textarea placeholder="Achievement"  name="achievement" [(ngModel)]="personalInfo.achievement"></ion-textarea>
          </ion-item>

          <h4 class="field-heading">Qualification Religious</h4>
          <ion-item>
            <ion-select placeholder="Qualification Religious"  name="qualificationReg" [(ngModel)]="personalInfo.qualificationReg">
              <ion-select-option value="Nazra">Nazra</ion-select-option>
              <ion-select-option value="Hafza">Hafza</ion-select-option>
              <ion-select-option value="Alim">Alim</ion-select-option>
              <ion-select-option value="Qari">Qari</ion-select-option>
              <ion-select-option value="Mufti">Mufti</ion-select-option>
              <ion-select-option value="Other">None of the Above</ion-select-option>
            </ion-select>
          </ion-item>

          <h4 class="field-heading">Qualification</h4>
          <ion-item>
            <ion-select placeholder="Qualification" name="qualification" [(ngModel)]="personalInfo.qualification">
              <ion-select-option value="Degree">Degree</ion-select-option>
              <ion-select-option value="Diploma">Diploma</ion-select-option>
              <ion-select-option value="Other">None of the Above</ion-select-option>
            </ion-select>
          </ion-item>

          <h4 class="field-heading">Physical Disability</h4>
          <ion-item>
            <ion-select placeholder="Physical Disability" name="disablity" [(ngModel)]="personalInfo.disablity">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>

          <h4 class="field-heading">Family Members</h4>
          <input type="number" placeholder="Family Members" name="familyMembers" [(ngModel)]="personalInfo.familyMembers">
          
          <h4 class="field-heading">Married Male Family Members</h4>
          <input type="number" placeholder="Married Male Family Members" name="mmFamilyMembers" [(ngModel)]="personalInfo.mmFamilyMembers">
          
          <h4 class="field-heading">Married Female Family Members</h4>
          <input type="number" placeholder="Married Female Family Members" name="mfFamilyMembers" [(ngModel)]="personalInfo.mfFamilyMembers">
          
          <h4 class="field-heading">Unmarried Male Family Members</h4>
          <input type="number" placeholder="Unmarried Male Family Members" name="umFamilyMembers" [(ngModel)]="personalInfo.umFamilyMembers">

          <h4 class="field-heading">Unmarried Female Family Members</h4>
          <input type="number" placeholder="Unmarried Female Family Members" name="ufFamilyMembers" [(ngModel)]="personalInfo.ufFamilyMembers">
          
          <h4 class="field-heading">Professional Details</h4>
          <ion-item>
              <ion-select placeholder="Professional Details" name="profDetails" [(ngModel)]="personalInfo.profDetails">
                  <ion-select-option value="Business">Business</ion-select-option>
                  <ion-select-option value="Job">Job</ion-select-option>
              </ion-select>
          </ion-item>

          <h4 class="field-heading">Office Name</h4>
          <input type="text" placeholder="Office Name" name="officeName" [(ngModel)]="personalInfo.officeName">

          <h4 class="field-heading">Office Address</h4>
          <ion-item>
              <ion-textarea placeholder="Office Address" name="officeAddress" [(ngModel)]="personalInfo.officeAddress"></ion-textarea>
          </ion-item>

          <h4 class="field-heading">Office Number</h4>
          <input type="text" placeholder="Office Number" name="officeNum" [(ngModel)]="personalInfo.officeNum">
          
          <h4 class="field-heading">Department</h4>
          <input type="text" placeholder="Department" name="department" [(ngModel)]="personalInfo.department">
          
          <h4 class="field-heading">Designation</h4>
          <input type="text" placeholder="Designation" name="designation" [(ngModel)]="personalInfo.designation">
          
          <h4 class="field-heading">Income</h4>
          <ion-item>
            <ion-select placeholder="Income" name="income" [(ngModel)]="personalInfo.income">
              <ion-select-option value="5To10k">5k to 10k</ion-select-option>
              <ion-select-option value="10To20k">10k to 20k</ion-select-option>
              <ion-select-option value="20To50k">20k to 50k</ion-select-option>
              <ion-select-option value="50k">50k Above</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="Remember-me">
            <div class="submit">
              <input type="submit" (click)="postData()" value="Save & Next">
            </div>
            <div class="clear"> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--//End-register-form-->

</ion-content>