<ion-header>
  <ion-toolbar class="dark-green">
    <ion-title style="color: white;">Search Users</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search by Name and City" [(ngModel)]="searchText">
        <ion-buttons class="edit-icon" (click)='performSearch()'>
            <ion-icon name="search"></ion-icon>
        </ion-buttons>
    </ion-searchbar>
    <p style="margin-left: 12px;">showing {{searchResults.length}} Results</p>
    <div class="results-container" *ngFor="let result of searchResults">
      <div style="padding-bottom: 4px;"><span>First Name:</span> {{result.firstName || '---'}}</div>
      <div style="padding-bottom: 4px;"><span>Last Name:</span> {{result.lastName || '---'}}</div>
      <div style="padding-bottom: 4px;"><span>City:</span> {{result.birthPlace || '---'}}</div>
      <div style="padding-bottom: 4px;"><span>Professional Details:</span> {{result.profDetails || '---'}}</div>
      <div style="padding-bottom: 4px;"><span>Qualification:</span> {{result.qualification || '---'}}</div>
    </div>
</ion-content>
