<ion-header>
  <ion-toolbar class="dark-green">
    <ion-title style="color: white;">Signup Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--start-register-form-->
  <div class="main">
    <div class="wrap">
      <div class="Regisration">
        <div class="Regisration-head">
          <h2>Register</h2>
        </div>
        <div class="error-container" *ngIf="errors.length">
          <div *ngFor="let error of errors">{{error}}</div>
        </div>
        <form>
          <input type="text" placeholder="Email Address" name="email" [(ngModel)]="email">
          <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
          <input type="password" placeholder=" Confirm Password" name="cpassword" [(ngModel)]="cpassword">
          <div class="Remember-me">
            <div class="submit">
              <input type="submit" (click)="registerUser()" value="REGISTER">
            </div>
            <div class="clear"> </div>
          </div>
          <div text-center>
            <button margin-top type="button" ion-button clear routerLink="../login" routerDirection="forward"  style="background: transparent;">
              <div style="color: #488aff; font-weight: bold;">
                Already a User? Sign In!
            </div>
            </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!--//End-register-form-->

</ion-content>